.container{
    
    width: 500px;
    margin-inline: auto;
    border: 1px solid grey;
    padding: 25px;
    text-transform: capitalize;
    font-size: 20px;
    color: gray;

    h3{
        text-align: center;
        margin-bottom: 30px;
    }

    .input_container{

        .num{
          display: flex;
          justify-content: space-between;
          margin: 10px 0px;

          input{
            font-size: 18px;
            padding: 3px;
            &:focus{
                outline: none;
            }
            &::-webkit-inner-spin-button{
                appearance: none;
            }
          }

        }

        

    }

    .button_container{
        margin-top: 50px;
        display: flex;
        gap: 80px;
       
        .button{
            display: grid;
            grid-template-columns: repeat(3,max-content);
            gap: 10px;
            .icon{
                border: 1px solid grey;
                padding: 5px 10px;
                font-size: 14px;
                background-color: darkgrey;
                color: black;
                border-radius: 4px;
            }
        }
    }

}