<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.silder_container{
    position: relative;
}
.slider{
    width: 100%;
    height: 600px;
    position: absolute;
    border: 1px solid gray;
    transition: all 500ms ease-in-out;
    /* left: 50%; */
    /* display: none; */
}
img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: center;
}
.slide1{
   background-color: beige; 
}
.slide2{
    background-color: burlywood;
}
.slide3{
    
    background-color: rgb(31, 42, 52);
}
.slide4{
    background-color: cornsilk;
}
.btn {
    display: flex;
    position: relative;
    margin-inline: 20px;
    top: 300px;
    /* border: 1px solid red; */
    z-index: 99;
}
.btn .right{
    position: absolute;
    right: 0;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
    
    
}
.btn .left{
    position: absolute;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
    left: 0;
    
}
.trans{
    transform: translateX(50%);
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.silder_container{
    position: relative;
}
.slider{
    width: 100%;
    height: 600px;
    position: absolute;
    border: 1px solid gray;
    transition: all 500ms ease-in-out;
    /* left: 50%; */
    /* display: none; */
}
img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: center;
}
.slide1{
   background-color: beige; 
}
.slide2{
    background-color: burlywood;
}
.slide3{
    
    background-color: rgb(31, 42, 52);
}
.slide4{
    background-color: cornsilk;
}
.btn {
    display: flex;
    position: relative;
    margin-inline: 20px;
    top: 300px;
    /* border: 1px solid red; */
    z-index: 99;
}
.btn .right{
    position: absolute;
    right: 0;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
    
    
}
.btn .left{
    position: absolute;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
    left: 0;
    
}
.trans{
    transform: translateX(50%);
>>>>>>> origin/main
}